*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.iml
.idea/
toyhoodlecore/target/classes/conf/hoodle.property
toyhoodlecore/target/test-classes/conf/hoodle.property
core/target/
cube/target/
snipe/target/
toytelephone/target/classes/log4j.properties
toytelephone/target/
tran/target/
monitorView/target/
